## Predicción de de consumo por horas

In [27]:
#Libraries
import pandas as pd

In [28]:
#Cargar de los csv como df
df2019=pd.read_csv('../data/interim/2019_consum_electricitat_bcn.csv')
df2020=pd.read_csv('../data/interim/2020_consum_electricitat_bcn.csv')
df2021=pd.read_csv('../data/interim/2021_consum_electricitat_bcn.csv')
df2022=pd.read_csv('../data/interim/2022_consum_electricitat_bcn.csv')
df2023=pd.read_csv('../data/interim/2023_consum_electricitat_bcn.csv')
df2024=pd.read_csv('../data/interim/2024_consum_electricitat_BCN.csv')

#Union de todos los DF
df = pd.concat([df2019, df2020, df2021, df2022, df2023, df2024], ignore_index=True)

df[df['Data']=='2019-01-20']

,Any,Data,Codi_Postal,Sector_Economic,Tram_Horari,Valor
12780,2019,2019-01-20,8001,Indústria,De 00:00:00 a 05:59:59 h,800
12781,2019,2019-01-20,8001,Indústria,De 06:00:00 a 11:59:59 h,1110
12782,2019,2019-01-20,8001,Indústria,De 12:00:00 a 17:59:59 h,1461
12783,2019,2019-01-20,8001,Indústria,De 18:00:00 a 23:59:59 h,1441
12784,2019,2019-01-20,8001,Indústria,No consta,0
...,...,...,...,...,...,...
13445,2019,2019-01-20,8042,Serveis,De 00:00:00 a 05:59:59 h,23966
13446,2019,2019-01-20,8042,Serveis,De 06:00:00 a 11:59:59 h,25683
13447,2019,2019-01-20,8042,Serveis,De 12:00:00 a 17:59:59 h,29222
13448,2019,2019-01-20,8042,Serveis,De 18:00:00 a 23:59:59 h,30253
13449,2019,2019-01-20,8042,Serveis,No consta,0

In [29]:
df

,Any,Data,Codi_Postal,Sector_Economic,Tram_Horari,Valor
0,2019,2019-01-01,8001,Indústria,De 00:00:00 a 05:59:59 h,727
1,2019,2019-01-01,8001,Indústria,De 06:00:00 a 11:59:59 h,855
2,2019,2019-01-01,8001,Indústria,De 12:00:00 a 17:59:59 h,1175
3,2019,2019-01-01,8001,Indústria,De 18:00:00 a 23:59:59 h,1214
4,2019,2019-01-01,8001,Indústria,No consta,106
...,...,...,...,...,...,...
1353840,2024,2024-08-31,8042,Serveis,De 00:00:00 a 05:59:59 h,6502
1353841,2024,2024-08-31,8042,Serveis,De 06:00:00 a 11:59:59 h,8518
1353842,2024,2024-08-31,8042,Serveis,De 12:00:00 a 17:59:59 h,9715
1353843,2024,2024-08-31,8042,Serveis,De 18:00:00 a 23:59:59 h,8469
1353844,2024,2024-08-31,8042,Serveis,No consta,0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353845 entries, 0 to 1353844
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Any              1353845 non-null  int64
 1   Data             1353845 non-null  object
 2   Codi_Postal      1353845 non-null  int64
 3   Sector_Economic  1353845 non-null  object
 4   Tram_Horari      1353845 non-null  object
 5   Valor            1353845 non-null  int64
dtypes: int64(3), object(3)
memory usage: 62.0+ MB

In [31]:
#Comprobación de que la columa data esta tratada en tipo datetime
df['Data'] = pd.to_datetime(df['Data'] , dayfirst=False)
#Transformar los datos valor a numerico
df['Valor'] = pd.to_numeric(df['Valor'], )
#Transformar a tipo str el sector
df['Sector_Economic'] = df['Sector_Economic'].astype(str)
#Eliminar valores no apreciables
df = df[df['Tram_Horari'] != 'No consta']

In [32]:
#Crear un nuevo df con los valores necesarios
df_group = df.groupby(['Data', 'Sector_Economic'])['Valor'].sum().reset_index()
df_group.head(-5)

           Data Sector_Economic     Valor
0    2019-01-01       Indústria    995989
1    2019-01-01  No especificat      4194
2    2019-01-01     Residencial   6713701
3    2019-01-01         Serveis   7338057
4    2019-01-02       Indústria   1702091
...         ...             ...       ...
7758 2024-08-28         Serveis  11923274
7759 2024-08-29       Indústria   1221279
7760 2024-08-29     Residencial   6562981
7761 2024-08-29         Serveis  11787822
7762 2024-08-30       Indústria   1159673

[7763 rows x 3 columns]

In [33]:
#Eliminamos  el sector no especificat
df_group = df_group[df_group['Sector_Economic'] != 'No especificat']
df_group.shape

(6095, 3)

In [34]:
df_group.head()

        Data Sector_Economic    Valor
0 2019-01-01       Indústria   995989
2 2019-01-01     Residencial  6713701
3 2019-01-01         Serveis  7338057
4 2019-01-02       Indústria  1702091
6 2019-01-02     Residencial  7354663

In [35]:
cont_sector = df_group['Sector_Economic'].value_counts()
print(cont_sector)

Sector_Economic
Residencial    2032
Serveis        2032
Indústria      2031
Name: count, dtype: int64

In [36]:
# Extraer el año de cada fecha
df_group['año'] = df_group['Data'].dt.year
# Contar cuántos días hay por año
cont_dias_año = df_group['año'].value_counts().sort_index()

print(cont_dias_año/3)

año
2019    365.000000
2020    366.000000
2021    365.000000
2022    365.000000
2023    365.000000
2024    205.666667
Name: count, dtype: float64

In [37]:
dias_posteriores = df[df['Data'].dt.day > 12]
print("Datos de días después del 12:", dias_posteriores)

Datos de días después del 12:           Any       Data  Codi_Postal Sector_Economic  \
8090     2019 2019-01-13         8001       Indústria
8091     2019 2019-01-13         8001       Indústria
8092     2019 2019-01-13         8001       Indústria
8093     2019 2019-01-13         8001       Indústria
8095     2019 2019-01-13         8001     Residencial
...       ...        ...          ...             ...
1353838  2024 2024-08-31         8042     Residencial
1353840  2024 2024-08-31         8042         Serveis
1353841  2024 2024-08-31         8042         Serveis
1353842  2024 2024-08-31         8042         Serveis
1353843  2024 2024-08-31         8042         Serveis

                      Tram_Horari  Valor
8090     De 00:00:00 a 05:59:59 h    839
8091     De 06:00:00 a 11:59:59 h   1108
8092     De 12:00:00 a 17:59:59 h   1409
8093     De 18:00:00 a 23:59:59 h   1378
8095     De 00:00:00 a 05:59:59 h  35826
...                           ...    ...
1353838  De 18:00:00 a 23:59:59 h  26854
1353840  De 00:00:00 a 05:59:59 h   6502
1353841  De 06:00:00 a 11:59:59 h   8518
1353842  De 12:00:00 a 17:59:59 h   9715
1353843  De 18:00:00 a 23:59:59 h   8469

[657024 rows x 6 columns]

In [26]:
df_group.to_csv("../data/processed/prueba_df_group.csv", index = False)